body {
    background-color: black;
}
h1 {
    text-transform: uppercase;
}
p {
    color: white;
    text-align: center;
}
.meme {
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;  
}
#gorsel {
    border: 5px solid white;
    width: 100%;
}
hr {
  border: none;
  height: 2px;
  background-color: brown;
  margin-top: 60px;
}

